**************************************
*                                    *
* DRILL TAPE SUMMARY REPORT          *
*                                    *
* D:\ORCAD TLS METER\MAIN BOARD.MAX  *
* Wed Mar 12 13:53:08 2014           *
*                                    *
**************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       31       10       200      100                                                                                 
T2       34       28       200      100                                                                                 
T3       35       24       200      100                                                                                 
T4       38       2        200      100                                                                                 
T5       40       48       200      100                                                                                 
T6       42       16       200      100                                                                                 
T7       45       4        200      100                                                                                 
T8       55       3        200      100                                                                                 
T9       65       3        200      100                                                                                 
T10      150      2        200      100                                                                                 
